<form class="" autocomplete="off">
    {{log "roll.hbs root" @root}}
    <div>
        <div class="roll-term-div">
            <input style="align-self: center;" type="text" class="roll-term-input clear-input"
                value="{{info.rollTerm}}">
        </div>
        {{#each modifiers}}
        <div class="modifier-input" data-array-index="{{@index}}">
            <div class="modifier-users">
                <input class="clear-input modifier-name" type="text" value="{{this.[0]}}">
                <input class="clear-input modifier-value" type="number" value="{{this.[1]}}">
            </div>
            <div class="modifier-options">
                <label class="switch-input">
                    <input class="modifier-checked" type="checkbox" {{#if this.[2]}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
                <div class="delte-modifier ms-button"><i class="fas fa-trash"></i></div>
            </div>
        </div>
        {{/each}}
        <div class="modifier-adder">
            <button class="add-modifier-button ms-button">add modifier</button>
        </div>
        {{#if options}}
        {{#each options}}
        <div class="options-input" data-array-index="{{@index}}">
            <div class="option-name">{{this.[0]}}</div>
            <label class="switch-input">
                <input class="option-checked" type="checkbox" {{#if this.[1]}}checked{{/if}}>
                <span class="slider round"></span>
            </label>
        </div>
        {{/each}}
        {{/if}}
    </div>

    <div>
        <button class="submit-roll-button">Roll</button>
    </div>
</form>