<div class="dialog-box">
    <table>
        <tr>
            <th>{{tName}}</th>
            <th>Mod</th>
        </tr>
        <tr>
            <td>
                <input id="talent" type="number" value="{{tValue}}" />
            </td>
            <td>
                <input id="mod" type="number" value="{{mod}}" />
            </td>
        </tr>
    </table>
{{log @root}}
    {{#if (eq item.type "waffe")}}
    <div id="other-options" style="text-align: center;">
        <label for="res"> Munition verbrauchen?</label>
        <input type="checkbox" id="use" checked="true" />
    </div>
    {{/if}}


    {{#if (eq item.type "zauber")}}
    <div id="other-options" style="text-align: center;">

        <div style="display:inline-block">
            <label for="res">Mana:</label>
            <input style="width:2em" type="text" id="res" value="{{lvl.mana}}" />
        </div>

        <div style="display:inline-block">
            <label for="use">verbrauchen?</label>
            <input type="checkbox" id="use" checked="true" />
        </div>
    </div>
    {{/if}}
</div>