<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  {{log "actor-sheet-root" @root}}
  <header class="row-2-8">
    <div class="col-1">
      <img class="ms-big-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
    </div>
    <div class="col-2">
      <div class="header-info">
        <h1><input class="clear-input" type="text" name="name" value="{{actor.name}}" /></h1>
        <h4>XP: <input class="clear-input" type="number" name="system.misc.xp" value="{{actor.system.misc.xp}}" /> LVL:
          {{actor.system.misc.rang}}
        </h4>
      </div>
      <div class="row-4-6">
        <div class="col-1">
          <div class="bars">
            {{#each bars as |value key|}}
            <div class="health-bar bar-graph" data-bar-type="{{key}}">
              <div class="bar" id="{{value.css}}" style="width: {{percentage}}%;">
              </div>
              <div class="bar-text">{{value.label}}<input class="clear-input" type="number"
                  name="system.attribute.koerper.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" /> /<input
                  class="clear-input" type="number" name="system.attribute.koerper.{{key}}.max" value="{{value.max}}"
                  data-dtype="Number" />
              </div>
              <div class="adjust">
                <span class="minus hp-control" data-control-type="subtract"><i class="fas fa-minus"></i></span>
                <span class="plus hp-control" data-control-type="add"><i class="fas fa-plus"></i></span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="col-2">

          <div class="trape-table">
            {{#each koerper as |value key|}}
            <div class="trapezoid" data-hp-type="{{key}}">
              <div class="label">{{value.label}}</div>
              <div class="trape-control" data-control-type="subtract"><i class="fas fa-minus"></i></div>
              <div class="trape-control" data-control-type="add"><i class="fas fa-plus"></i></div>
              {{#if value.max}}
              <div class="right">/<input class="clear-input" type="number" name="system.attribute.koerper.{{key}}.max"
                  value="{{value.max}}" data-dtype="Number" /></div>
              {{/if}}
              <div class="right"><input class="clear-input" type="number" name="system.attribute.koerper.{{key}}.wert"
                  value="{{value.wert}}" data-dtype="Number" /></div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="" data-tab="allgemein">Allgemein</a>
    <a class="" data-tab="kampf">Kampf</a>
    <a class="" data-tab="info">Info</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab allgemein row-3-7" data-group="primary" data-tab="allgemein">

      {{!-- Skill accordion --}}
      <div class="col-1">
        {{#each talentGruppen as |talentValue talentKey|}}
        <div id="{{talentKey}}"
          class="accordion-header rollable {{#if (isSame talentKey @root.flags.mondsturz.activeId)}}rollabe-prop{{/if}}"
          data-talent="{{talentKey}}" data-type="talent">
          {{talentValue.label}}
          {{#if talentValue.wert}}
          {{talentValue.wert}}
          {{/if}}
          {{#if talentValue.mod}}+{{talentValue.mod}}{{/if}}
        </div>
        <div class="accordion-content  {{#if (eq talentKey @root.flags.mondsturz.activeId)}}active{{/if}}"
          id="accordion-content-{{i}}">
          <table>
            {{#each talente as |skillValue skillKey|}}
            <tr class="roll-div rollabe-prop rollable" data-talent="{{talentKey}}" data-skill="{{skillKey}}"
              data-type="skill">
              <td>{{skillValue.label}}</td>
              <td><input class="clear-input" type="number" name="system.talente.{{skillKey}}.wert"
                  value="{{skillValue.wert}}" data-dtype="Number" />{{#if skillValue.mod}}+{{skillValue.mod}}{{/if}}
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
        {{/each}}
      </div>

      {{!-- right of accordion --}}
      <div class="col-2">
        <div class="row-container">
          <div class="row-1 eig-container grey-bg">
            <table class="m-table">
              <tr>
                <th colspan="2">Merkmale</th>
                <th>
                  <a class="item-create" title="Create item" data-type="merkmal"><i class="fas fa-plus"></i></a>
                </th>
              </tr>
              {{#each merkmale}}
              <tr class="item item-header" data-item-id="{{this._id}}">
                <td class="img-td">
                  <img src="{{this.img}}" width="24" height="24" />
                </td>
                <td>
                  {{this.name}}
                </td>
                <td class="item-controls">
                  <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <tr class="item-content">
                <td colspan="3">
                  {{this.system.description}}
                </td>


              </tr>
              {{/each}}
            </table>


          </div>

          {{!-- allgemeines Inventar --}}
          <div class="row-2">
            <h3 class="grey-bg ms-header">{{usedInv.used}} / <input class="clear-input" type="number"
                name="system.misc.inventar.max" value="{{system.misc.inventar.max}}" data-dtype="Number" /> Inventar
              Slots
            </h3>
            <table class="m-table grey-bg">
              <tr>

                <th colspan="2">Name</th>
                <th>Art</th>
                <th>Gewicht</th>
                <th>
                  <a class="item-create" title="Create item" data-type="gegenstand"><i class="fas fa-plus"></i></a>
                </th>
              </tr>
              {{#each items as |item id| }}
              {{#unless (isSame item.type "merkmal")}}
              <tr class="item" data-item-id="{{item._id}}">
                <td class="img-td">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </td>
                <td>
                  <input class="edit-item-insheet clear-input" value="{{item.name}}" data-prop="name" />
                </td>
                <td class="type-td">
                  {{item.type}}
                </td>
                <td class="weight-td">
                  <input class="edit-item-insheet clear-input" type="Number" value={{item.system.weight}}
                    data-prop="system.weight" data-dtype="Number" />
                </td>
                <td class="item-controls">
                  <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {{/unless}}

              {{/each}}
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="kampf">
      <div class="">

        {{!--upper things körper imunsys... --}}
        <div class="grid-3col">

          <div>
            <table class="m-table grey-bg">
              <tr>
                <th colspan="3">Adrenalin</th>
              </tr>
              {{#each adrenalin as |stufe stufeKey|}}
              <tr>
                <td>{{math @index "+" 1}}</td>
                  <td>{{stufe.effekt}}</td>
                  <td>{{stufe.kosten}}</td>
              </tr>
              {{/each}}
            </table>
          </div>

          <div>
            <table class="m-table grey-bg">
              <tr>
                <th colspan="2">Resistenzen</th>
              </tr>
              {{#each system.attribute.resistenzen as |value key|}}
              <tr class="rollabe-prop rollable" data-talent="{{key}}">
                <td>{{value.label}}</td>
                <td class="ruestwerte-td"><input class="clear-input" type="number"
                    name="system.attribute.resistenzen.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" />{{#if
                  value.mod}}+{{value.mod}}{{/if}}</td>
              </tr>
              {{/each}}
            </table>
          </div>

          <div>
            <table class="m-table grey-bg">
              <tr>
                <th colspan="2">Resistenzen</th>
              </tr>
              {{#each system.attribute.resistenzen as |value key|}}
              <tr class="rollabe-prop rollable" data-talent="{{key}}">
                <td>{{value.label}}</td>
                <td class="ruestwerte-td"><input class="clear-input" type="number"
                    name="system.attribute.resistenzen.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" />{{#if
                  value.mod}}+{{value.mod}}{{/if}}</td>
              </tr>
              {{/each}}
            </table>
          </div>

        </div>

        {{!-- inventar slots waffen/zauber --}}
        <div class="grid-2col">

          <div>
            <table class="m-table grey-bg">
              <tr>
                <th colspan="2">Name</th>
                <th>Gewicht</th>
                <th>
                  <a class="item-create" title="Create item" data-type="waffe"><i class="fas fa-plus"></i></a>
                </th>
              </tr>
              {{#each waffen as |item id|}}
              <tr class="item rollable-item " data-item-id="{{item._id}}">
                <td class="img-td">
                  <img class="rollable" src="{{item.img}}" width="24" height="24" />
                </td>
                <td>{{item.name}}</td>
                <td>{{item.system.weight}}</td>
                <td class="item-controls">
                  <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>

          <div>
            <table class="m-table grey-bg">
              <tr>
                <th colspan="8">Name</th>
                <th>
                  <a class="item-create" title="Create item" data-type="zauber"><i class="fas fa-plus"></i></a>
                </th>
              </tr>
              {{#each zauber as |item id|}}
              <tr class="item" data-item-id="{{item._id}}">
                <td class="img-td">
                  <img class="rollable" src="{{item.img}}" width="24" height="24" />
                </td>
                <td class="" data-item-id="{{item._id}}">{{item.name}}</td>
                <td class="zauber-level" data-target="zauber0-{{@index}}">0</td>
                <td class="zauber-level" data-target="zauber1-{{@index}}">1</td>
                <td class="zauber-level" data-target="zauber2-{{@index}}">2</td>
                <td class="zauber-level" data-target="zauber3-{{@index}}">3</td>
                <td class="zauber-level" data-target="zauber4-{{@index}}">4</td>
                <td class="zauber-level" data-target="zauber5-{{@index}}">5</td>
                <td class="item-controls">
                  <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>

                  <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                </td>
              </tr>
              <tr class="zauber-texts" data-item-id="{{item._id}}">
                {{#each item.system.level as |value key|}}
                <td colspan="8" class="zauber-text" id="zauber{{@index}}-{{@../index}}" data-item-id="{{item._id}}"
                  data-zauber-level="level{{@index}}">
                  <div>{{value.text}}</div>
                  <div>{{value.formula}}</div>
                </td>
                {{/each}}
              </tr>
              {{/each}}
            </table>
          </div>

        </div>


      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="info">

      <div>
        <table class="m-table grey-bg info-table">
          <tr>
            <th colspan="4">Allgemeines</th>
          </tr>
          {{#each system.details as |value key|}}
          {{#if (eq (math @index "%" 2) 0)}}
          <tr>
            {{/if}}
            <td>{{value.label}}</td>
            <td class="">
              <input type="text" name="system.details.{{key}}.wert" value="{{value.wert}}" />
            </td>
            {{#if (eq (math @index "%" 2) 1)}}
          </tr>
          {{/if}}
          {{/each}}
        </table>
      </div>
      <div>
        <textarea name="system.misc.notizen.wert" id="misc-notizen" cols="30"
          rows="20">{{actor.system.misc.notizen.wert}}</textarea>
      </div>

    </div>
  </section>
  {{!-- edit version --}}
</form>