<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{log @root}}
  {{!-- Sheet Header --}}
  <header class="row-2-8">
    <div class="col-1">
      <img class="ms-big-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
    </div>
    <div class="col-2">
      <div class="header-info">
        <h1><input class="clear-input" type="text" name="name" value="{{actor.name}}" /></h1>
        <div>
          <div>
            <div class="sheet-bar bar-graph" data-bar-type="{{key}}">
              <div class="bar" style="width: {{percentage}}%;">
              </div>
              <div class="bar-text">
                <div>{{value.label}}</div>
              </div>
            </div>
          </div>
          <div class="misc-info">
            <div>
              Gold:
              <input class="clear-input clear-small" type="number" name="system.misc.gold"
                value="{{actor.system.misc.gold}}" />
            </div>
            <div>
              XP:
              <input class="clear-input clear-small" type="number" name="system.misc.xp"
                value="{{actor.system.misc.xp}}" />
            </div>
            <div>
              Rang:
              <input class="clear-input clear-small" type="number" name="system.misc.rang"
                value="{{actor.system.misc.rang}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row-4-6">
        <div class="col-1">
          <div class="bars">
            {{#each bars as |value key|}}
            <div class="sheet-bar bar-graph" data-bar-type="{{key}}">
              <div class="bar" id="{{value.css}}" style="width: {{percentage}}%;">
              </div>
              <div class="bar-text">
                <div>{{value.label}}</div><input class="clear-input clear-small" type="number"
                  name="system.attribute.koerper.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" /> /<input
                  class="clear-input clear-small" type="number" name="system.attribute.koerper.{{key}}.max"
                  value="{{value.max}}" data-dtype="Number" />
              </div>
              <div class="adjust">
                <span class="minus hp-control" data-control-type="subtract"><i class="fas fa-minus"></i></span>
                <span class="plus hp-control" data-control-type="add"><i class="fas fa-plus"></i></span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="col-2">

          <div class="trape-table">
            {{#each koerper as |value key|}}
            <div class="trapezoid" data-hp-type="{{key}}">
              <div class="label">{{value.label}}</div>
              <div class="trape-control" data-control-type="subtract"><i class="fas fa-minus"></i></div>
              <div class="trape-control" data-control-type="add"><i class="fas fa-plus"></i></div>
              {{#if value.max}}
              <div class="right">/<input class="clear-input clear-tiny" type="number"
                  name="system.attribute.koerper.{{key}}.max" value="{{value.max}}" data-dtype="Number" /></div>
              {{/if}}
              <div class="right">
                <input class="clear-input clear-tiny" type="number" name="system.attribute.koerper.{{key}}.wert"
                  value="{{value.wert}}" data-dtype="Number" />
                {{#if value.mod}}<div style="margin-left:0px">+ {{value.mod}}</div> {{/if}}
              </div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="" data-tab="allgemein">Allgemein</a>
    <a class="" data-tab="kampf">Kampf</a>
    <a class="" data-tab="info">Info</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab allgemein row-3-7" data-group="primary" data-tab="allgemein">

      {{!-- Skill accordion --}}
      <div class="col-1">
        {{#each talentGruppen as |gValue gKey|}}
        <div id="{{gKey}}" class="accordion-header {{#if (eq gKey @root.flags.mondsturz.activeId)}}active{{/if}}">
          {{gValue.label}} {{gValue.wert}}
        </div>
        <div class="accordion-content  {{#if (eq gKey @root.flags.mondsturz.activeId)}}active{{/if}}"
          id="accordion-content-{{i}}">
          <table>
            {{#each talente as |tValue tKey|}}
            <tr class="actor-prop talent-context" data-talent-key="system.talente.{{tKey}}" data-type="talent">
              <td class="rollable-prop">
                <div class="ms-button {{#if tValue.istHobby}}ist-hobby{{/if}}">{{tValue.label}}</div>
              </td>
              <td><input class="clear-input clear-tiny" type="number" name="system.talente.{{tKey}}.wert"
                  value="{{tValue.wert}}" data-dtype="Number" />
                {{#if tValue.mod}}<div>+{{tValue.mod}}</div>{{/if}}
              </td>
            </tr>
            {{/each}}
          </table>
        </div>
        {{/each}}
      </div>

      {{!-- right of accordion --}}
      <div class="col-2">
        <div class="row-container">
          <div class="eig-container grey-bg">
            <table>
              <thead>
                <tr>
                  <th colspan="2">Merkmale</th>
                  <th>
                    <a class="item-create" title="Create item" data-type="merkmal"><i class="fas fa-plus"></i></a>
                  </th>
                </tr>
              </thead>
              {{#each merkmale}}
              <tr class="item item-header" data-item-id="{{this._id}}">
                <td class="img-td item-edit">
                  <img src="{{this.img}}" width="24" height="24" />
                </td>
                <td>
                  {{this.name}}
                </td>
                <td>
                  <a class="item-delete ms-button" title="Gegenstand löschen"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <tr class="item-text-container">
                <td colspan="2">
                  {{this.system.description}}
                </td>
                <td></td>
              </tr>
              {{/each}}
            </table>


          </div>

          <div>
            <h3 class="grey-bg ms-header">{{usedInv.used}} / <input class="clear-input clear-small" type="number"
                name="system.misc.inventar.max" value="{{system.misc.inventar.max}}" data-dtype="Number" /> Inventar
              Slots
            </h3>
          </div>
          {{!-- allgemeines Inventar --}}


          <div class="item-container">
            <table class=" grey-bg">
              <thead>
                <tr>
                  <th colspan="2">Name</th>
                  <th>Art</th>
                  <th><i class="fa-solid fa-weight-hanging"></i></th>
                  <th colspan="2">
                    <a class="item-create" title="Create item" data-type="gegenstand"><i class="fas fa-plus"></i></a>
                  </th>
              </thead>
              </tr>
              {{#each items as |item id| }}
              {{#unless (isSame item.type "merkmal")}}
              <tr class="item drag-item-list tr-flex" data-item-id="{{item._id}}">
                <td class="img-td">
                  <img class="item-edit" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                </td>
                <td>
                  <input class="edit-item-insheet clear-input clear-medium" value="{{item.name}}" data-prop="name" />
                </td>
                <td class="type-td">
                  {{item.type}}
                </td>
                <td class="weight-td">
                  <input class="edit-item-insheet clear-input clear-tiny" type="Number" value={{item.system.weight}}
                    data-prop="system.weight" data-dtype="Number" />
                </td>
                <td>
                  <a class="item-equip ms-button" title="Gegenstand ausrüsten">
                    <i class={{#if item.system.fasFa}} " fa-regular fa-backpack" {{else}} "fa-solid fa-hand-fist"
                      {{/if}}></i></a>
                </td>
                <td>
                  <a class="item-delete ms-button" title="Gegenstand löschen"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {{/unless}}

              {{/each}}
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="kampf">
      <div class="">

        {{!--upper things körper imunsys... --}}
        <div class="grid-3col">

          <div>
            <table class=" grey-bg">
              <thead>
                <tr>
                  <th style="text-align:center;" colspan="3">Adrenalin</th>
                </tr>
              </thead>
              {{#each adrenalin as |stufe stufeKey|}}
              <tr>
                <td>{{math @index "+" 1}}</td>
                <td>{{stufe.effekt}}</td>
                <td>{{stufe.kosten}}</td>
              </tr>
              {{/each}}
            </table>
          </div>

          <div>
            <table class="grey-bg attribute-table">
              <thead>
                <tr>
                  <th style="text-align:center;" colspan="2">Rüstwerte</th>
                </tr>
              </thead>
              {{#each system.attribute.ruestwert as |value key|}}
              <tr class="" data-talent="{{key}}">
                <td>{{value.label}}</td>
                <td class="ruestwerte-td"><input class="clear-input clear-tiny" type="number"
                    name="system.attribute.ruestwert.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" />{{#if
                  value.mod}}+{{value.mod}}{{/if}}</td>
              </tr>
              {{/each}}
              <tr>
                <td style="height: 24px"></td>
              </tr>
            </table>
          </div>

          <div>
            <table class=" grey-bg">
              <thead>
                <tr>
                  <th style="text-align:center;" colspan="2">Resistenzen</th>
                </tr>
              </thead>
              {{#each system.attribute.resistenzen as |value key|}}
              <tr class="actor-prop" data-talent-key="system.attribute.resistenzen.{{key}}">
                <td class="rollable-prop">
                  <div class="ms-button">{{value.label}}</div>
                </td>
                <td class="ruestwerte-td"><input class="clear-input clear-tiny" type="number"
                    name="system.attribute.resistenzen.{{key}}.wert" value="{{value.wert}}" data-dtype="Number" />{{#if
                  value.mod}}+{{value.mod}}{{/if}}</td>
              </tr>
              {{/each}}
            </table>
          </div>

        </div>

        {{!-- inventar slots waffen/zauber --}}
        <div class="grid-2col">

          <div>
            <table class=" grey-bg">
              <thead>
                <tr>
                  <th colspan="2">Name</th>
                  <th colspan="1">Angriff</th>
                  <th>Schaden</th>
                  <th colspan="2">
                    <a class="item-create" title="Create item" data-type="waffe"><i class="fas fa-plus"></i></a>
                  </th>
                </tr>
              </thead>
              {{#each waffen as |item id|}}
              <tr class="item drag-item-list" data-item-id="{{item._id}}">
                <td class="item-edit">
                  <img src="{{item.img}}" width="24" height="24" />
                </td>
                <td>
                  <input class="edit-item-insheet clear-input clear-medium" value="{{item.name}}" data-prop="name" />
                </td>
                <td>
                  <a class="roll-item ms-button" title="Erster Angriff"><i class="fa-solid fa-sword"></i></a>
                </td>
                <td class="wpn-dmg">
                  <div class="ms-button">{{item.system.stats.damage}}</div>
                </td>
                <td>
                  <i class="fas fa-trash item-delete ms-button" title="Delete Item"></i>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>

          <div>
            <table class=" grey-bg">
              <thead>
                <tr>
                  <th colspan="3">Name</th>
                  <th>
                    <a class="item-create" title="Create item" data-type="zauber"><i class="fas fa-plus"></i></a>
                  </th>
                </tr>
              </thead>
              {{#each zauber as |item id|}}
              <tr class="item drag-item-list" data-item-id="{{item._id}}">
                <td class="img-td item-edit">
                  <img src="{{item.img}}" width="24" height="24" />
                </td>
                <td class="" data-item-id="{{item._id}}">{{item.name}}</td>
                <td class="zauber-td-header">
                  <div class="zauber-level ms-button" data-target="zauber0-{{@index}}">0</div>
                  <div class="zauber-level ms-button" data-target="zauber1-{{@index}}">1</div>
                  <div class="zauber-level ms-button" data-target="zauber2-{{@index}}">2</div>
                  <div class="zauber-level ms-button" data-target="zauber3-{{@index}}">3</div>
                  <div class="zauber-level ms-button" data-target="zauber4-{{@index}}">4</div>
                  <div class="zauber-level ms-button" data-target="zauber5-{{@index}}">5</div>
                </td>
                <td>
                  <a class="item-delete ms-button" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <tr class="zauber-texts" data-item-id="{{item._id}}">
                {{#each item.system.level as |value key|}}
                <td colspan="8" class="zauber-text" id="zauber{{@index}}-{{@../index}}" data-item-id="{{item._id}}"
                  data-zauber-level="level{{@index}}">
                  <div>{{value.text}}</div>
                  <div>{{value.formula}}</div>
                </td>
                {{/each}}
              </tr>
              {{/each}}
            </table>
          </div>

        </div>


      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="info">

      <div>
        <table class=" grey-bg info-table">
          <thead>
            <tr>
              <th style="text-align:center;" colspan="4">Allgemeines</th>
            </tr>
          </thead>
          {{#each system.details as |value key|}}
          {{#if (eq (math @index "%" 2) 0)}}
          <tr>
            {{/if}}
            <td>{{value.label}}</td>
            <td>
              <input class="ms-aling-left" type="text" name="system.details.{{key}}.wert" value="{{value.wert}}" />
            </td>
            {{#if (eq (math @index "%" 2) 1)}}
          </tr>
          {{/if}}
          {{/each}}
        </table>
      </div>
      <div>
        <textarea name="system.misc.notizen.wert" id="misc-notizen" cols="30"
          rows="20">{{actor.system.misc.notizen.wert}}</textarea>
      </div>

    </div>
  </section>
  {{!-- edit version --}}
</form>