<div class="row-2">
    <h3 class="grey-bg ms-header">{{usedInv.used}} / <input class="clear-input" type="number"
            name="system.misc.inventar.max" value="{{system.misc.inventar.max}}" data-dtype="Number" /> Inventar
        Slots
    </h3>
    <table class="m-table grey-bg">
        <tr>

            <th colspan="2">Name</th>
            <th>Art</th>
            <th>Gewicht</th>
            <th>Wert</th>
            <th>
                <a class="item-create" title="Create item" data-type="gegenstand"><i class="fas fa-plus"></i></a>
            </th>
        </tr>
        {{#each items as |item id| }}
        {{#unless (isSame item.type "merkmal")}}
        <tr class="item drag-item-list" data-item-id="{{item._id}}">
            <td class="img-td">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
            </td>
            <td>
                <input class="edit-item-insheet clear-input" value="{{item.name}}" data-prop="name" />
            </td>
            <td class="type-td">
                {{item.type}}
            </td>
            <td class="weight-td">
                <input class="edit-item-insheet clear-input" type="Number" value={{item.system.weight}}
                    data-prop="system.weight" data-dtype="Number" />
            </td>
            <td class="value-td">
                <input class="edit-item-insheet clear-input" type="Number" value={{item.system.value}}
                    data-prop="system.value" data-dtype="Number" />
            </td>
            <td class="item-controls">
                <a class="item-equip" title="Gegenstand ausrüsten"><i class={{#if item.system.fasFa}}"fas fa-hand"
                        {{else}} "fas fa-hand-fist" {{/if}}></i></a>
                <a class="item-edit" title="Gegenstand bearbeiten"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="Gegenstand löschen"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/unless}}

        {{/each}}
    </table>
</div>