{{log "waffe-message.hbs" @root}}
<div class="item-message" data-item-id="{{uuid}}">
    <h2
        title="Level: {{system.stats.level}}&#10;Qualität: {{system.stats.quality}}&#10;Talent: {{system.stats.talentKey}}&#10;Skill: {{system.stats.skillKey}}">
        {{name}} Schadens Wurf
    </h2>
    {{#if isOwner}}
    <button class="damage-target message-button">ausgewählten Token Schaden zufügen</button>
    {{/if}}
    {{log "damage-message.hbs" @root}}
</div>