<h2> {{name}} Wurf</h2>

{{#if (eq type "waffe")}}
<h4>
    Qualität: {{item.system.stats.quality}}
    {{#if item.system.stats.damage}}
    Schaden : [[/r {{item.system.stats.damage}} {{#if item.system.stats.level}}+ {{item.system.stats.level}} {{/if}}]]
    {{/if}}
    <!--{{#if item.system.stats.crit}}Krit Schaden: [[/r {{item.system.stats.crit}}]]{{/if}}-->
    {{#if item.system.stats.element}}{{item.system.stats.element}}{{/if}}
    {{#if item.system.stats.chance}}{{item.system.stats.chance}}{{/if}}
</h4>
{{/if}}

{{#if (eq type "zauber")}}
<div>
    {{#if zauberLevel}}
        {{#each item.system.level as |value key|}}
            {{#if (eq @root.zauberLevel key)}}
                {{value.label}}
                <br>
                {{value.text}}
                <br>
                {{#if value.formula}}Formel: [[/r {{value.formula}}]]{{/if}}
                {{#if (gt @root.item.system.stats.level 2)}} Kritchance +{{math @root.item.system.stats.level "-" 2}} {{/if}}
            {{/if}}
        {{/each}}
    {{/if}}
</div>
{{/if}}