<div class="item-message" data-item-id="{{item.uuid}}">
    {{log "root waffemsg" @root}}
    <h2
        title="Level: {{item.system.stats.level}}&#10;Qualität: {{item.system.stats.quality}}&#10;Talent: {{item.system.stats.talentKey}}&#10;Skill: {{item.system.stats.skillKey}}">
        {{userData.info.name}}
    </h2>
    <div>
        {{#each item.system.tags as |tagKey|}}
        {{tagHandling tagKey}}
    </div>
    {{/each}}
</div>
<br>
<div class="message-modifiers">
    {{#each userData.modifiers}}
    {{#if this.[2]}}
    {{#if (notEqual this.[1] "0")}}
    <div class="tag-box">{{this.[0]}} {{this.[1]}}</div>
    {{/if}}
    {{/if}}
    {{/each}}
</div>
{{#if attack}}
<div class="item-roll-damage ms-hidden">
    <button  class="ms-button">{{item.system.stats.damage}}</button>
</div>
{{/if}}
</div>